<div class="column is-one-quarter">
	<div class="box is-media-box">
		<article class="media">
			<div class="media-content">
				<div class="content">
					<p>
						<span class="tag is-dark">Video</span>&nbsp;&nbsp;<strong>John Smith</strong>
					</p>
				</div>
			</div>
			<div class="media-right">
				<div class="dropdown is-right is-hoverable">
				  <div class="dropdown-trigger">
					<button class="button row-inner-0 is-heightauto is-borderless" aria-haspopup="true" aria-controls="dropdown-menu4">
					  <span class="icon is-small">
						<i class="fas fa-angle-down" aria-hidden="true"></i>
					  </span>
					</button>
				  </div>
				  <div class="dropdown-menu" id="dropdown-menu4" role="menu">
					<div class="dropdown-content">
					  <div class="dropdown-item">
						  <a href="#" class="is-link"><span class="icon"><i class="fas fa-download"></i></span> Download</a>
					  </div>
					</div>
				  </div>
				</div>
			</div>
		</article>
		<div class="row-space-top-3">
			<figure class="image is-4by3">
			  <img src="https://images.unsplash.com/photo-1490426951762-7df2e77e568a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5519e2265996c14edbae39603026a40c&auto=format&fit=crop&w=640&h=480&q=60">
			</figure>
		</div>
		<nav class="level is-mobile row-space-top-3">
			<div class="level-left">
				<a class="level-item"><span class="icon is-small"><i class="fas fa-download"></i></span></a>
				<a class="level-item"><span class="icon is-small"><i class="fas fa-info"></i></span></a>
				<a class="level-item"><span class="icon is-small"><i class="fas fa-external-link-alt"></i></span></a>
			</div>
		</nav>
	</div>
</div>
