
	<div class="is-fancy-secondary is-fullheight hero">
		<div class="container row-space-top-10 row-space-10">
			<div class="box is-medium-box row-inner-6" style="margin: 0 auto;">

				<h1 class="title">Material hinzufügen</h1>

				<hr>

				<label class="label">Datei</label>

				<div class="row-space-left-5 row-space-5 row-space-top-3">
					<div class="row-space-3">
						<span id="upload"></span>
					</div>

					<div class="is-horizontal-divider">
						<span>oder</span>
					</div>

					<div class="">
						<div class="field">
							<div class="control" id="mediumUrl">
								<input class="input is-medium" type="text" placeholder="Link">
							</div>
						</div>
					</div>
				</div>

				<!-- vorschau -->
				<label class="label">Vorschau-Bild</label>
				<div class="row-space-left-5 row-space-5 row-space-top-3">
					<div class="field">
						<div class="row-space-3">
							<span id="upload2"></span>
						</div>

						<div class="is-horizontal-divider">
							<span>oder</span>
						</div>

						<div class="">
							<div class="field">
								<div class="control" id="previewUrl">
									<input class="input is-medium" type="text" placeholder="Link">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row-space-5">
					<div class="field">
						<label class="label">Titel</label>
						<div class="control">
							<input class="input is-medium" type="text" placeholder="Titel">
						</div>
					</div>
				</div>

				<div class="row-space-5">
					<div class="field">
						<label class="label">Kategorie</label>
						<div class="control">
							<div class="select is-multiple is-fullwidth">
							  <select multiple size="8">
							    <option value="facebook_post">Facebook Post</option>
							    <option value="Brazil">Instagram Post</option>
							    <option value="Chile">Flyer</option>
							    <option value="Colombia">Banner</option>
							    <option value="Ecuador">Zeitungsanzeige</option>
							    <option value="Paraguay">Fotos -- 8er -- Zirkel</option>
							    <option value="Paraguay">Fotos -- 6er -- Zirkel</option>
							    <option value="Paraguay">Fotos -- 4er -- Zirkel</option>
							    <option value="videos">Videos</option>
								<option value=""></option>
								<option value="fitness_1">Fitnessstudio 1</option>
								<option value="fitness_2">Fitnessstudio 2</option>
							  </select>
							</div>
						</div>
					</div>
				</div>

				<div class="row-space-5">
					<div class="field">
						<label class="label">Nachricht (optional)</label>
						<div class="control">
							<textarea class="textarea" placeholder="Textarea"></textarea>
						</div>
					</div>
				</div>

				<div class="field is-grouped">
					<div class="control">
						<button class="button is-medium is-link">Hinzufügen</button>
					</div>
					<div class="control">
						<button class="button is-text">Abbrechen</button>
					</div>
				</div>

			</div>
		</div>


		{{body}}
	</div>
