<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/static/skyline.css">
	<link rel="stylesheet" href="/static/skyline-custom.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
</head>

<body>
	<div class="hero is-fullheight" style="background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);">
		<div class="container row-space-top-11">
			<div class="row-outer-6">
				<div class="box is-medium-box row-inner-6" style="margin: 0 auto;">

					<h1 class="title">Neues Passwort angefordert</h1>

					<hr>

					<p>
						Ein Link zum Ändern des Passwortes wurde an EMAIL gesandt.
					</p>

				</div>
			</div>
		</div>


		{{body}}
	</div>


	<script>{{script}}
	</script>
	{{javascript}}
	<script>
		protos = [$bert];
		N2O_start();
	</script>
</body>

</html>
