<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/static/skyline.css">
	<link rel="stylesheet" href="/static/skyline-custom.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
</head>

<body>
	<div class="hero is-fullheight" style="background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);">
		<div class="container row-space-top-11">
			<div class="row-outer-6">
				<div class="box is-medium-box row-inner-6" style="margin: 0 auto;">

					<h1 class="title">SkylineCircle - Kundenlogin</h1>

					<hr>

					<div class="row-space-5">
						<div class="field">
							<label class="label">Email</label>
							<div class="control">
								<input class="input is-medium" type="text" placeholder="Email">
							</div>
						</div>
					</div>

					<div class="row-space-5">
						<div class="field">
							<label class="label">Passwort</label>
							<div class="control">
								<input class="input is-medium" type="text" placeholder="Passwort">
							</div>
						</div>
					</div>

					<div class="field is-grouped">
						<div class="control">
							<button class="button is-medium is-link">Einloggen</button>
						</div>
						<div class="control">
							<button class="button is-text">Passwort vergessen?</button>
						</div>
					</div>

				</div>
			</div>
		</div>


		{{body}}
	</div>


	<script>{{script}}
	</script>
	{{javascript}}
	<script>
		protos = [$bert];
		N2O_start();
	</script>
</body>

</html>
