<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <link href='/static/style.css' type='text/css' rel='stylesheet'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <title>Threads</title>
    </head>
    <body class="slides scroll simplifiedMobile">

        {{body}}

        <!--script>var transition = {pid: '', host: 'localhost', port:'8000'};</script-->
        <script>{{script}}</script>
        {{javascript}}
        <script>protos = [$bert]; N2O_start();</script>

        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="/static/js/plugins.js" type="text/javascript" name="plugins"></script>
        <script src="/static/js/slides.js" type="text/javascript" name="main-scripts"></script>

    </body>
</html>
