.row-space-0 {
	margin-bottom: 0
}

.row-space-top-0 {
	margin-top: 0
}

.row-space-1 {
	margin-bottom: 6.25px
}

.row-space-top-1 {
	margin-top: 6.25px
}

.row-space-2 {
	margin-bottom: 12.5px
}

.row-space-top-2 {
	margin-top: 12.5px
}

.row-space-3 {
	margin-bottom: 18.75px
}

.row-space-top-3 {
	margin-top: 18.75px
}

.row-space-4 {
	margin-bottom: 25px
}

.row-space-top-4 {
	margin-top: 25px
}

.row-space-5 {
	margin-bottom: 31.25px
}

.row-space-top-5 {
	margin-top: 31.25px
}

.row-space-6 {
	margin-bottom: 37.5px
}

.row-space-top-6 {
	margin-top: 37.5px
}

.row-space-7 {
	margin-bottom: 43.75px
}

.row-space-top-7 {
	margin-top: 43.75px
}

.row-space-8 {
	margin-bottom: 50px
}

.row-space-top-8 {
	margin-top: 50px
}

.row-space-9 {
	margin-bottom: 75px
}

.row-space-top-9 {
	margin-top: 75px
}

.row-space-10 {
	margin-bottom: 100px
}

.row-space-top-10 {
	margin-top: 100px
}

.row-space-11 {
	margin-bottom: 120px
}

.row-space-top-11 {
	margin-top: 120px
}

.row-space-12 {
	margin-bottom: 200px
}

.row-space-top-12 {
	margin-top: 200px
}

.row-space-left-1 {
	margin-left: 6.25px
}

.row-space-left-2 {
	margin-left: 12.5px
}

.row-space-left-3 {
	margin-left: 18.75px
}

.row-space-left-4 {
	margin-left: 25px
}

.row-space-left-5 {
	margin-left: 31.25px
}

.row-space-left-6 {
	margin-left: 37.5px
}

.row-space-left-7 {
	margin-left: 43.75px
}

.row-space-left-8 {
	margin-left: 50px
}

.row-space-right-1 {
	margin-right: 6.25px
}

.row-space-right-2 {
	margin-right: 12.5px
}

.row-space-right-3 {
	margin-right: 18.75px
}

.row-space-right-4 {
	margin-right: 25px
}

.row-space-right-5 {
	margin-right: 31.25px
}

.row-space-right-6 {
	margin-right: 37.5px
}

.row-space-right-7 {
	margin-right: 43.75px
}

.row-space-right-8 {
	margin-right: 50px
}

.row-space-inner-0 {
	padding-bottom: 0
}

.row-space-inner-top-0 {
	padding-top: 0
}

.row-space-inner-1 {
	padding-bottom: 6.25px
}

.row-space-inner-top-1 {
	padding-top: 6.25px
}

.row-space-inner-2 {
	padding-bottom: 12.5px
}

.row-space-inner-top-2 {
	padding-top: 12.5px
}

.row-space-inner-3 {
	padding-bottom: 18.75px
}

.row-space-inner-top-3 {
	padding-top: 18.75px
}

.row-space-inner-4 {
	padding-bottom: 25px
}

.row-space-inner-top-4 {
	padding-top: 25px
}

.row-space-inner-5 {
	padding-bottom: 31.25px
}

.row-space-inner-top-5 {
	padding-top: 31.25px
}

.row-space-inner-6 {
	padding-bottom: 37.5px
}

.row-space-inner-top-6 {
	padding-top: 37.5px
}

.row-space-inner-7 {
	padding-bottom: 43.75px
}

.row-space-inner-top-7 {
	padding-top: 43.75px
}

.row-space-inner-8 {
	padding-bottom: 50px
}

.row-space-inner-top-8 {
	padding-top: 50px
}

.row-space-inner-9 {
	padding-bottom: 75px
}

.row-space-inner-top-9 {
	padding-top: 75px
}

.row-space-inner-10 {
	padding-bottom: 100px
}

.row-space-inner-top-10 {
	padding-top: 100px
}

.row-space-inner-11 {
	padding-bottom: 120px
}

.row-space-inner-top-11 {
	padding-top: 120px
}

.row-space-inner-12 {
	padding-bottom: 200px
}

.row-space-inner-top-12 {
	padding-top: 200px
}

.row-space-inner-left-1 {
	padding-left: 6.25px
}

.row-space-inner-left-2 {
	padding-left: 12.5px
}

.row-space-inner-left-3 {
	padding-left: 18.75px
}

.row-space-inner-left-4 {
	padding-left: 25px
}

.row-space-inner-left-5 {
	padding-left: 31.25px
}

.row-space-inner-left-6 {
	padding-left: 37.5px
}

.row-space-inner-left-7 {
	padding-left: 43.75px
}

.row-space-inner-left-8 {
	padding-left: 50px
}

.row-space-inner-right-1 {
	padding-right: 6.25px
}

.row-space-inner-right-2 {
	padding-right: 12.5px
}

.row-space-inner-right-3 {
	padding-right: 18.75px
}

.row-space-inner-right-4 {
	padding-right: 25px
}

.row-space-inner-right-5 {
	padding-right: 31.25px
}

.row-space-inner-right-6 {
	padding-right: 37.5px
}

.row-space-inner-right-7 {
	padding-right: 43.75px
}

.row-space-inner-right-8 {
	padding-right: 50px
}

.row-inner-0 {
	padding: 0 !important
}

.row-inner-1 {
	padding: 6.25px
}

.row-inner-2 {
	padding: 12.5px
}

.row-inner-3 {
	padding: 18.75px
}

.row-inner-4 {
	padding: 25px
}

.row-inner-5 {
	padding: 31.25px
}

.row-inner-6 {
	padding: 37.5px
}

.row-inner-7 {
	padding: 43.75px
}

.row-inner-8 {
	padding: 50px
}

.row-outer-0 {
	margin: 0 !important
}

.row-outer-1 {
	margin: 6.25px
}

.row-outer-2 {
	margin: 12.5px
}

.row-outer-3 {
	margin: 18.75px
}

.row-outer-4 {
	margin: 25px
}

.row-outer-5 {
	margin: 31.25px
}

.row-outer-6 {
	margin: 37.5px
}

.row-outer-7 {
	margin: 43.75px
}

.row-outer-8 {
	margin: 50px
}

#header-bg {
	/*background: url(/static/img/hero-bg.jpg);*/
}

#header-bg .navbar {
	background: transparent;
}

#main-nav {
	padding: 1em;
}

.is-fancy {
	background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
}

.is-fancy-secondary {
	background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.is-fancy-blue {
	background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}

.is-fullheight {
	height: 100% !important;
}

.is-fullwidth {
	width: 100% !important;
}

.is-borderless {
	border: none !important;
}

.is-heightauto {
	height: auto !important;
}

.is-medium-box {
	max-width: 580px !important;
}

.center {
	text-align: center !important;
}

.is-horizontal-divider {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #dbdbdb;
	line-height: 0.1em;
	margin: 10px 0 20px;
}

.is-horizontal-divider span {
	background: #ffffff;
	padding: 0 10px;
}

.inline-block {
	display: inline-block !important;
}

.login .button {
	height: 50px !important;
}

.google-button {
	display: inline-block;
}

.avatar {
	display: inline-block !important;
	width: 48px;
	height: 48px;
	overflow: hidden;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-right: 10px !important;
	height: 1.8em !important;
	width: 1.8em !important;
}

.profile-button:hover {
	background: none !important;
}

.profile-button span {
	color: #4a4a4a !important;
}

.profile-button:hover span {
	color: #3273dc !important;
}
